<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFASuiteRepeater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="12" />
    </connectionManagement>
  </system.net>
    <connectionStrings>
        <add name="FFASuiteRepeater.My.MySettings.ARTBConnectionString"
            connectionString="Data Source=hipathsystems.cloudapp.net;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <FFASuiteRepeater.My.MySettings>
            <setting name="xmpp_server" serializeAs="String">
                <value>artbtrading.com</value>
            </setting>
            <setting name="xmpp_user" serializeAs="String">
                <value>ffasuite</value>
            </setting>
            <setting name="xmpp_password" serializeAs="String">
                <value>@ndr0s</value>
            </setting>
            <setting name="ws_server" serializeAs="String">
                <value>http://localhost/WSFFASuiteServer/websync.ashx</value>
            </setting>
            <setting name="ws_user" serializeAs="String">
                <value>ffasuite</value>
            </setting>
            <setting name="product_id" serializeAs="String">
                <value>2908</value>
            </setting>
            <setting name="ws_generalchannel" serializeAs="String">
                <value>/my/ffasuite</value>
            </setting>
            <setting name="ServiceLog" serializeAs="String">
                <value>FFASuiteRepeater</value>
            </setting>
            <setting name="OrdersJid" serializeAs="String">
                <value>orders</value>
            </setting>
            <setting name="xmpp_serverdemo" serializeAs="String">
                <value>demo.artbtrading.com</value>
            </setting>
            <setting name="ws_tradeschannel" serializeAs="String">
                <value>/my/trades</value>
            </setting>
            <setting name="ws_serverdemo" serializeAs="String">
                <value>https://www.artbtrading.com/WSFFASuiteServer/websync.ashx</value>
            </setting>
        </FFASuiteRepeater.My.MySettings>
    </applicationSettings>
    
</configuration>