<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Users\George\Documents\ArtBFFASuiteNet4\Publish\LicenseKeyServer\FFAOptCalcLicenseKeyServer.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>/default/FFASuiteLicenseServer/</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ARTBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=ARTBTRADING,1523;Initial Catalog=ARTB;User ID=gmf;Password=@egean@ndr0s;Application Name=EntityFramework" Name="Data Source=ARTBTRADING,1523;Initial Catalog=ARTB;User ID=gmf;Password=@egean@ndr0s;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=artbtrading.com;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ARTBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=artbtrading.com;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ARTBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ARTBTRADING,1523;Initial Catalog=ARTB;User ID=gmf;Password=@egean@ndr0s;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>