<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFASuite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFASuite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
      <connectionManagement>
      <add address="*" maxconnection="12" />
    </connectionManagement>
  </system.net>
  <!-- <endpoint address="https://www.artbtrading.com/ArtBOptWCFServiceDemo/FFAOptMain.svc" -->
  <!-- <endpoint address="http://localhost/ArtBOptWCFService/FFAOptMain.svc" -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IFFAOptMain" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" >
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.artbtrading.com/ArtBOptWCFService/FFAOptMain.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFFAOptMain"
        contract="FFAOptCalcService.IFFAOptMain" name="BasicHttpsBinding_IFFAOptMain" />
    </client>
  </system.serviceModel>
    
  <userSettings>
    <FFASuite.My.MySettings>
      <setting name="FileSaveDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="Messages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Model" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ModelQuantity" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserFingerPrint" serializeAs="String">
        <value />
      </setting>
      <setting name="UsesProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="xmppUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="xmppUserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketView" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>36</string>
            <string>37</string>
            <string>38</string>
            <string>39</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UpdateCalcLive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="proxyuser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxypswd" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyaddress" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormDimensions" serializeAs="String">
        <value>775, 637</value>
      </setting>
      <setting name="xmppUseTCP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="msgServiceType" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MarketViews" serializeAs="String">
        <value />
      </setting>
      <setting name="BIDASK" serializeAs="String">
        <value>False</value>
      </setting>
    </FFASuite.My.MySettings>
  </userSettings>
  <applicationSettings>
    <FFASuite.My.MySettings>
      <setting name="PRODUCT_ID" serializeAs="String">
        <value>2908</value>
      </setting>
      <setting name="MarketViewStandard" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>36</string>
            <string>37</string>
            <string>38</string>
            <string>39</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MarketViewPeriodWidth" serializeAs="String">
        <value>105</value>
      </setting>
      <setting name="MarketViewContractWidths" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="MarketViewFontSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ValidCertificates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>787F9C7CA71AD09949025059BB47C369</string>
            <string>E24DD330841A0CBA48EBF47829A64377</string>
            <string>2B1F2C9E2426FC3D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="xmppserverdemo" serializeAs="String">
        <value>artbtrading.com</value>
      </setting>
      <setting name="TradeClassesSupported" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DataPeriodDefault" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DataVolDefault" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OrdersJid" serializeAs="String">
        <value>orders</value>
      </setting>
      <setting name="FlashInterval" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="PayPalNotifyURL_Demo" serializeAs="String">
        <value>https://www.artbtrading.com/FFASuitePayPal/PayPalVerify.aspx</value>
      </setting>
      <setting name="PayPalNotifyURL" serializeAs="String">
        <value>https://www.artbtrading.com/FFASuiteLicenseServer/FFASuitePayPal.aspx</value>
      </setting>
      <setting name="PayPalMerchantID" serializeAs="String">
        <value>Q6QMA4JJ4YZ2A</value>
      </setting>
      <setting name="PayPalMerchantID_Demo" serializeAs="String">
        <value>sales@artbtrading.com</value>
      </setting>
      <setting name="PayPalSrvc" serializeAs="String">
        <value>https://www.paypal.com/cgi-bin/webscr</value>
      </setting>
      <setting name="PayPAlSrvc_Demo" serializeAs="String">
        <value>https://www.sandbox.paypal.com/cgi-bin/webscr</value>
      </setting>
      <setting name="ws_ServerLive" serializeAs="String">
        <value>https://www.artbtrading.com/WSFFASuiteServer/websync.ashx</value>
      </setting>
      <setting name="ws_ServerDemo" serializeAs="String">
        <value>https://www.artbtrading.com/WSFFASuiteServer/websync.ashx</value>
      </setting>
      <setting name="ws_SubscriptionChannel" serializeAs="String">
        <value>/my/ffasuite</value>
      </setting>
      <setting name="ws_TradesChannel" serializeAs="String">
        <value>/my/trades</value>
      </setting>
      <setting name="ws_ServiceChannel" serializeAs="String">
        <value>/my/services</value>
      </setting>
      <setting name="MarketViewStandardName" serializeAs="String">
        <value>Dry Major Routes</value>
      </setting>
      <setting name="xmppserver" serializeAs="String">
        <value>artbtrading.com</value>
      </setting>
    </FFASuite.My.MySettings>
  </applicationSettings>
  </configuration>
