<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArtBOptWCFService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ARTBConnectionString" connectionString="Data Source=artbtrading.com;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" providerName="System.Data.SqlClient"/>
    <add name="BRSOFConnectionString" connectionString="Data Source=Sartbtrading.com;Initial Catalog=BRSOF;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <applicationSettings>
    <ArtBOptWCFService.My.MySettings>
      <setting name="LiveOpenFireJID" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DebugAddUserPswd" serializeAs="String">
        <value>@ndr0s</value>
      </setting>
      <setting name="LiveAddUserPswd" serializeAs="String">
        <value>@ndr0s</value>
      </setting>
      <setting name="MarketView" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>36</string>
            <string>37</string>
            <string>38</string>
            <string>39</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TradeClassesSupported" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DebugOpenFireJID" serializeAs="String">
        <value>demo.artbtrading.com</value>
      </setting>
      <setting name="OFUserPswd" serializeAs="String">
        <value>@ndr0s</value>
      </setting>
      <setting name="DBConnectionString" serializeAs="String">
        <value>Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s</value>
      </setting>
      <setting name="DBConnectionStringServer" serializeAs="String">
        <value>Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s</value>
      </setting>
    </ArtBOptWCFService.My.MySettings>
  </applicationSettings>
</configuration>