<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFASuiteUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFASuiteUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FFASuiteUpdater.My.MySettings.ConnectionString_BRS2"
      connectionString="Data Source=BRS2;Initial Catalog=ARTB;User ID=george;Password=Pass1234"
      providerName="System.Data.SqlClient" />
    <add name="FFASuiteUpdater.My.MySettings.ConnectionString_EXTERNAL"
      connectionString="Data Source=83.244.253.98;Initial Catalog=ARTB;Persist Security Info=True;User ID=george;Password=Pass1234;Network Library=dbmssocn" />
    <add name="FFASuiteUpdater.My.MySettings.ConnectionString_BRS"
      connectionString="Data Source=BRS2;Initial Catalog=ARTB;User ID=george;Password=Pass1234" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <applicationSettings>
    <FFASuiteUpdater.My.MySettings>
      <setting name="ServicePathLive" serializeAs="String">
        <value>https://www.artbtrading.com/ArtBwcfData/ArtBwcfDataService.svc</value>
      </setting>
      <setting name="ServicePathDebug" serializeAs="String">
        <value>http://localhost:50108/ArtBwcfDataService.svc</value>
      </setting>
      <setting name="PRODUCT_ID" serializeAs="String">
        <value>2908</value>
      </setting>
      <setting name="ValidCertificates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>787F9C7CA71AD09949025059BB47C369</string>
            <string>E24DD330841A0CBA48EBF47829A64377</string>
            <string>2B1F2C9E2426FC3D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DogHouse" serializeAs="String">
        <value>retxed</value>
      </setting>
    </FFASuiteUpdater.My.MySettings>
  </applicationSettings>
  <userSettings>
    <FFASuiteUpdater.My.MySettings>
      <setting name="ClickATell_API_ID" serializeAs="String">
        <value>3228427</value>
      </setting>
      <setting name="ClickATell_Password" serializeAs="String">
        <value>pearlharbor1</value>
      </setting>
      <setting name="ClickATell_UserName" serializeAs="String">
        <value>BRSFFA</value>
      </setting>
      <setting name="ClickATell_SMSFrom" serializeAs="String">
        <value>BRS</value>
      </setting>
      <setting name="ConnectionString_BRS2UserOverride" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBoxConnection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TxtLocal_UserName" serializeAs="String">
        <value>ffa@brsbrokers.com</value>
      </setting>
      <setting name="TxtLocal_Password" serializeAs="String">
        <value>pearlharbor1</value>
      </setting>
      <setting name="SMS_SafetyBalance" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="TxtLocalSender" serializeAs="String">
        <value>BRS</value>
      </setting>
      <setting name="ws_ServerLive" serializeAs="String">
        <value>https://www.artbtrading.com/WSFFASuiteServer/websync.ashx</value>
      </setting>
      <setting name="ws_ServerDemo" serializeAs="String">
        <value>https://www.artbtrading.com/WSFFASuiteServer/websync.ashx</value>
      </setting>
      <setting name="ws_TradesChannel" serializeAs="String">
        <value>/my/trades</value>
      </setting>
    </FFASuiteUpdater.My.MySettings>
  </userSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IFFAOptMain" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" >
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.artbtrading.com/ArtBOptWCFService/FFAOptMain.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFFAOptMain"
        contract="FFAOptCalcService.IFFAOptMain" name="BasicHttpsBinding_IFFAOptMain" />
    </client>
  </system.serviceModel>
</configuration>
