<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FFASuiteUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <FFASuiteUpdater.My.MySettings>
      <setting name="ServicePathLive" serializeAs="String">
        <value>https://www.artbtrading.com/ArtBwcfData/FFASuiteDataService.svc/</value>
      </setting>
      <setting name="ServicePathDebug" serializeAs="String">
        <value>http://localhost:50108/FFASuiteDataService.svc/</value>
      </setting>
      <setting name="PRODUCT_ID" serializeAs="String">
        <value>2908</value>
      </setting>
      <setting name="ValidCertificates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>787F9C7CA71AD09949025059BB47C369</string>
            <string>E24DD330841A0CBA48EBF47829A64377</string>
            <string>2B1F2C9E2426FC3D</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DogHouse" serializeAs="String">
        <value>retxed</value>
      </setting>
    </FFASuiteUpdater.My.MySettings>
  </applicationSettings>
</configuration>