<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>Publish\ArtBOptWCFService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ArtBOptWCFService</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BRSOFConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=ARTBTRADING,5223;Initial Catalog=BRSOF;User ID=gmf;Password=@egean@ndr0s" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=BRSOF;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BRSOFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=BRSOF;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ARTBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=ARTBTRADING,5223;Initial Catalog=ARTB;User ID=gmf;Password=@egean@ndr0s" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ARTBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=hipathsystems.cloudapp.net,5223;Initial Catalog=ARTB;Persist Security Info=True;User ID=gmf;Password=@egean@ndr0s" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ARTBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ARTBTRADING,5223;Initial Catalog=ARTB;User ID=gmf;Password=@egean@ndr0s</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BRSOFConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ARTBTRADING,5223;Initial Catalog=BRSOF;User ID=gmf;Password=@egean@ndr0s</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>